/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* GENERAL /////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
body{font:11px Arial, Helvetica, sans-serif; margin:0; padding:0;}
body *{box-sizing:border-box;}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* Popup ///////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
#popupBox{padding:30px; width:500px;}
#popupBox h1{color:#f00; margin:0 0 5px 0; padding:0;}
#popupBox ul{list-style:none; margin:0; padding:0;}
#popupBox li{padding:0 0 5px 0; white-space:nowrap;}
#popupBox li small{color:#777; display:block; margin:3px 0 0 13px;}
#popupBox li a{color:#f00;}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* Heart ///////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
#heartBox .heart{background:#ccc; border-left:0; border-radius:0 4px 4px 0; color:#fff; font-size:18px; padding:10px; text-align:center;}
#heartBox .heart.active, #heartBox .heart:hover{color:#F00; cursor:pointer;}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* Comment /////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
#commentBox{position:relative;}
#commentBox{background:#cfcfcf; display:block; margin-left:12px; padding:10px; white-space:nowrap;}
#commentBox .arrow{color:#cfcfcf; font-size:12px; left:0; line-height:1em; margin:-6px; position:absolute; top:50%;}
#commentBox input{border:none; border-radius:2px 0 0 2px; height:2em; padding:2px; vertical-align:top; width:80%;}
#commentBox button{background:red; border:none; border-radius:0 2px 2px 0; color:#fff; height:2em; padding:2px; vertical-align:top; width:20%;}