/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* iHeart //////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/

#iheart-container{top:50%; position:fixed; z-index:999999;}

#iheart-container iframe{border:none !important; vertical-align:top; z-index:20;}

#iheart-iframe-heart{height:50px; width:50px;}

#iheart-iframe-comment{display:none; height:150px; margin:-10px 0 0 10px; width:300px;}
